:local {
	.header {
		@include size(100%, auto);
		background: #646F89;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px;
		box-sizing: border-box;

		h1 {
			white-space: nowrap;
			display: block;
		}

		ul {
			text-align: right;
		}
	}

	.note {
		@include size(300px, auto);
		@include position(auto, 20px, 20px, auto);
		color: white;
		background: rgba(0, 0, 0, .5);
		padding: 20px;
		box-sizing: border-box;
		position: fixed;

		p {
			margin-bottom: 10px;
		}

		li {
			width: 100%;
		}
	}

	@include respond-to(small) {
		.header {
			flex-direction: column;
			justify-content: center;
			text-align: center;

			h1 {
				margin-bottom: 5px;
			}

			li {
				display: block;
			}

			button {
				width: 100%;
				display: block;
			}
		}
	}
}
