:local {

	.wrapper {
		@include size(100%, 500px);
		background: #74A0E0;
		position: relative;
	}

	.content {
		@include offset(50%, 50%);
		transform: translate(-50%, -50%);
		position: absolute;
		text-align: center;
	}
}
