@import '~normalize.css';

body {
	overflow-y: scroll;
}

h2 {
	font-size: 30px;
	margin: 0;
	font-weight: 600;
	color: #fff;
	font-family: 'Helvetica';
}

p {
	margin: 0;
	font-size: 14px;
	color: #fff;
	font-family: 'Helvetica';
}
