@import '~normalize.css';

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

h1 {
	font-size: 15px;
	margin: 0;
	font-weight: 600;
	color: #fff;
	font-family: 'Helvetica';
}

h2 {
	font-size: 30px;
	margin: 0;
	font-weight: 600;
	color: #fff;
	font-family: 'Helvetica';
}

a,
p {
	margin: 0;
	color: #fff;
	font-family: 'Helvetica';
}
